@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

:root {
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-primary);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-primary);
    letter-spacing: 0.05rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
a {
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.nav-link {
    color: var(--bs-main-color) !important;
}

.nav-link:hover {
    color: var(--secondary-color) !important;
}


/* WEB PAGES HERO SECTION STARTS */

.hero-section .container {
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main {
    height: 80vh;
    position: relative;
}

.bg-color {
    background-color: var(--bs-dark-primary);
}

.text-light-grey {
    color: var(--bs-primary-color);
}

.bg-theme {
    color: var(--bs-supporting-color);
    background-image: none !important;
}

._hero-video--section {
    max-width: 100%;
    /* height: auto; */
    width: 60rem;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1722701657 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722701657 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 220px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1722701657 .shape-fill {
    fill: #FFFFFF;
}